<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cla-ren-pôô - @ViewBag.Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/Site.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="navbar navbar-expand navbar-inverse mb-4 navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cla-ren-pôô", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <!--<li>@Html.ActionLink("Página Inicial", "Index", "Home")</li>-->
                    <li class="nav-item">@Html.ActionLink("Regras", "Regras", "Jogo")</li>
                    <li class="nav-item">@Html.ActionLink("O Jogo", "OJogo", "Jogo")</li>
                    <li class="nav-item">@Html.ActionLink("Torneio", "Torneio", "Jogo")</li>
                </ul>
            </div>
        </div>
    </div>
    <main role="main">
        <div class="container">
            @RenderBody()
            <hr />
            <footer>
                <p>Cla-ren-pôô - &copy; @DateTime.Now.Year - Criação: Clariane Menezes</p>
            </footer>
        </div>
    </main>
    <script src="~/Content/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Scripts/bootstrap.js"></script>
    <script src="~/Content/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Content/JavaScript/Util.js"></script>
    <script>
        var vBase = '@Url.Content("~")';
        var vPath = '@Url.Content("~")';
    </script>
    @RenderSection("scripts", required: false)
    @RenderSection("MeusCodigosJavaScript", false)
</body>
</html>
